In [1]:
import pandas as pd
import numpy as np
from lambdata_prockwood import helper_function as hp

In [2]:
df = pd.DataFrame({'a': np.array([1, 2, np.nan]), 'b': np.array(['x', None, 'z']), 'c': np.array([np.nan, np.nan, 999])})

In [3]:
df.head()

     a     b      c
0  1.0     x    NaN
1  2.0  None    NaN
2  NaN     z  999.0

In [4]:
df.isna().sum().sum()

4

In [5]:
hp.null_count(df)

4

In [6]:
for i in range(len(df)):
    print(df.iloc[i, :])

a    1.0
b      x
c    NaN
Name: 0, dtype: object
a     2.0
b    None
c     NaN
Name: 1, dtype: object
a      NaN
b        z
c    999.0
Name: 2, dtype: object

In [7]:
# def train_test_split(df, frac):
#     choice_len = round(len(df) * frac)
#     train_index = np.random.choice(len(df), choice_len, replace=False) 
#     test_index = list(set(np.arange(len(df))) - set(train_index))

#     return (df.iloc[train_index], df.iloc[test_index])

In [8]:
train, test = hp.train_test_split(df, 0.66)

print(train, '\n')
print(test)

     a     b      c
2  NaN     z  999.0
1  2.0  None    NaN

     a  b   c
0  1.0  x NaN

In [9]:
df_nums = pd.DataFrame({'a': np.array([1, 2, 3]), 'b': np.array([4,5,6]), 'c': np.array([7,8,9])})

In [10]:
df_nums.head()

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [11]:
hp.randomize(df_nums, 42)